:root {
    --ms_color-blue: #0070d1;
}

/* COMMON */

.hero-banner {
    min-height: 80vh;
    padding: 3rem;
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

h2 {
    font-size: 2.5rem;
    margin: 2rem 0;
    font-weight: 400;
}

p {
    font-weight: 500;
}

.ms_img-wrapper {
    padding: 2rem 0;
}

.ms_thumbnail {
    position: relative;
    transition: bottom 2s;
}

.ms_thumbnail:hover {
    bottom: 0.5rem;
}

.ms_thumbnail img {
    border-radius: 1rem;
}

.ms_thumbnail.ms_active::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border: 3px solid var(--ms_color-blue);
    border-radius: 1.3rem;
    /* transform: scale(1.1); */
}

/* BUTTONS */
.ms_btn {
    border-radius: 3rem;
    height: 2.5em;
    display: inline-flex;
    align-items: center;
    color: white;
}

.ms_btn:hover {
    color: white;
}

.ms_btn:focus {
    box-shadow: none;
}

.ms_btn-black {
    background-color: #363636;
}

.ms_btn-red {
    background-color: #cd3d0f;
}

.ms_btn-blue {
    background-color: var(--ms_color-blue);
}

.ms_btn-grey {
    background-color: #d9dadc;
    color: var(--ms_color-blue);
    font-weight: 500;
}

.ms_btn-grey:hover {
    color: var(--ms_color-blue);
}

.ms_btn-white {
    background-color: white;
    color: black;
    font-weight: 500;
}

.ms_btn-white:hover {
    color: black;
}


/* HEADER */
header {
    width: 100%;
}

#header-top {
    background-color: black;
    height: 2rem;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-top img {
    height: 50%;
    width: auto;
}

#header-nav {
    height: 5rem;
}

#header-nav .ms_dropdown-toggle::after {
    content: '\f107';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin: 0 0.2rem;
    color: grey;
}

#header-nav .ms_bg-white {
    background-color: white !important;
}

#header-nav .ms_bg-white .nav-link {
    color: black;
    font-weight: 500;
}

#header-nav .ms_search-icon {
    display: flex;
    align-items: center;
    margin: 0 1rem;
}
.ms_search-icon img {
    height: 2em;
}

/* JUMBOTRON */
#jumbotron {
    margin-top: 7rem;
    color: white;
}

#jumbotron .hero-banner {
    background-image: url('../img/jumbo-bg.png');

}


/* PS5 SECTION */

#ps5 {
    padding: 3rem 0;
}

#ps5 p.supertitle {
    text-transform: uppercase;
    color: var(--ms_color-blue);
    font-weight: 600;
    margin-bottom: -2rem;
}

#ps5 p {
    color: grey;
}

#ps5-carousel img {
    opacity: 0.6;
}

#ps5-carousel p {
    display: none;
    margin-top: 0.5rem;
}

#ps5-carousel .ms_active {
    border-bottom: 2px solid var(--ms_color-blue);
}

#ps5-carousel .ms_active p {
    color: black;
}

#ps5-carousel .ms_active img {
    opacity: 1;
}

@media all and (min-width:768px) {
    #ps5-carousel p {
        display: block;
    }
}

/* "Now Out" section */
#now-out {
    color: white;
    background-color: #1f1f1f;
}

#now-out .hero-banner {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}

#now-out-carousel img {
    border-radius: 1rem;
}
#now-out-carousel p {
    font-weight: 600;
}

/* PS4 Section */

#ps4 p {
    color: grey;
}

/* PSPLUS SECTION */

#ps-plus {
    background-color: #bebcbb;
}

/* DISCOUNTS SECTION */

#discounts p {
    color: grey;
}

/* PSNOW SECTION */

#ps-now {
    background-color: #161c3b;
    color: white;
}

/* FOOTER  */
footer {
    background-color: #00439c;
    color: white;
    font-size: 0.8rem;
}

footer p {
    font-weight: 400;
}

.ms_language-select img {
    height: 1.2rem;
    vertical-align: middle;
    margin-right: 1rem;
}

footer ul {
    list-style: none;
}

footer ul a {
    text-decoration: none;
    color: white;
}

footer ul a:hover {
    text-decoration: underline;
    color: white;
}

#sie-logo {
    height: 3rem;
}