:root {
    --ms_color-blue: #0070d1;
}

/* COMMON */

.hero-banner {
    height: 80vh;
    padding: 3rem;
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

h2 {
    font-size: 2.5rem;
    margin: 2rem 0;
    font-weight: 400;
}

.ms_img-wrapper {
    padding: 2rem 0;
}

.ms_thumbnail {
    position: relative;
}

.ms_thumbnail img {
    border-radius: 1rem;
}

.ms_thumbnail.ms_active::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border: 3px solid var(--ms_color-blue);
    border-radius: 1.3rem;
    /* transform: scale(1.1); */
}

/* BUTTONS */
.ms_btn {
    border-radius: 3rem;
    height: 2.5em;
    display: inline-flex;
    align-items: center;
    color: white;
}

.ms_btn:hover {
    color: white;
}

.ms_btn:focus {
    box-shadow: none;
}

.ms_btn-black {
    background-color: #363636;
}

.ms_btn-red {
    background-color: #cd3d0f;
}

.ms_btn-blue {
    background-color: var(--ms_color-blue);
}


/* HEADER */
header {
    width: 100%;
}

#header-top {
    background-color: black;
    height: 2rem;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-top img {
    height: 50%;
    width: auto;
}

#header-nav {
    height: 5rem;
}

#header-nav .ms_dropdown-toggle::after {
    content: '\f107';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin: 0 0.2rem;
    color: grey;
}

#header-nav .ms_bg-white {
    background-color: white !important;
}

#header-nav .ms_bg-white .nav-link {
    color: black;
    font-weight: 500;
}

#header-nav .ms_search-icon {
    display: flex;
    align-items: center;
    margin: 0 1rem;
}
.ms_search-icon img {
    height: 2em;
}

/* JUMBOTRON */
#jumbotron {
    margin-top: 7rem;
    color: white;
}

#jumbotron .hero-banner {
    background-image: url('../img/jumbo-bg.png');

}


/* PS5 SECTION */

#ps5 {
    padding: 3rem 0;
}

#ps5 p.supertitle {
    text-transform: uppercase;
    color: var(--ms_color-blue);
    font-weight: 600;
    margin-bottom: -2rem;
}

#ps5 p {
    color: grey;
}


/* "Now Out" section */

#now-out .hero-banner {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}